@using System.Globalization
@model TransacaoModel

@{
    ViewData["Title"] = "GerarRelatorio";
}

@{
  var vData = "";
  var vTipo = "";
 
  try{
     vData = DateTime.Parse(@ViewBag.Registro.Data.ToString()).ToString("yyyy-MM-dd");
     vTipo = @ViewBag.Registro.Tipo.ToString();

    CultureInfo invC = CultureInfo.InvariantCulture;
  }
  catch{}
}

<h1>@ViewData["Title"]</h1>

  <div class="form-group">
<label>Data:</label>
<input type="date" class="form-control" asp-for="Data" value="@vData">
<span asp-validation-for="Data" class="text-danger"> </span>
</div>

<button type ="submit" class="btn btn-block btn-success"> Filtrar</button>